.primary_btn{
    border: none;
    padding: 20px;
    font-family: 'formula1-display-wide';
    font-size: 15px;
    border-bottom: 1px red solid;
    border-right: 1px red solid;
    border-radius: 10px 0px 10px 0px;
    display: flex;
    margin: auto;
    background: white;


    &:hover{
        border-bottom: none;
        border-right: none;
        border-left: 1px red solid;
        border-top: 1px red solid;

    }
}


