@font-face{
    font-family:"formula1-display-regular";
    src:url("./fonts/f1-font-regular.ttf") format("woff"),
    url("./fonts/f1-font-regular.ttf") format("opentype"),
    url("./fonts/f1-font-regular.ttf") format("truetype");
}

@font-face{
    font-family:"formula1-display-wide";
    src:url("./fonts/f1-font-wide.ttf") format("woff"),
    url("./fonts/f1-font-wide.ttf") format("opentype"),
    url("./fonts/f1-font-wide.ttf") format("truetype");
}

@font-face{
    font-family:"formula1-display-bold";
    src:url("./fonts/f1-font-bold.ttf") format("woff"),
    url("./fonts/f1-font-bold.ttf") format("opentype"),
    url("./fonts/f1-font-bold.ttf") format("truetype");
}


html{
    margin: 0px;
    padding: 0px;
    font-family: "formula1-display-regular";
}
.App{
    opacity: 0px;
    width: 100vw;
}
#root{
    position: absolute;
    top: 0px;
    left: 0px;
}
