.primary_btn{
    border: none;
    padding: 20px;
    font-family: 'formula1-display-wide';
    font-size: 15px;
    border-bottom: 1px red solid;
    border-right: 1px red solid;
    border-radius: 0px 0px 10px 0px;
    display: flex;
    margin: auto;
    background: white;

}
