.standings{
    @media(min-width: 600px){
        display: flex;
        max-width: 1440px;
        margin: 0px auto;
        opacity: 0;
        align-items: center;
        min-height: 100vh;
        animation: fade-in .5s forwards;

        
    }
    padding-bottom: 50px;

}